<html>
    <body>
        <form action="/submit" method="post">
            Your Name:
            <input type="text" name="name">
            <br><br>
            Dojo Location:
            <select name="location">
                <option value="Oakland">Oakland</option>
                <option value="Berekley">Berekley</option>
                <option value="Seattle">Seattle</option>
            </select>
            <br><br>
            Favorite Language:
            <select name="language">
                <option value="Python">Python</option>
                <option value="Java">Java</option>
                <option value="Spanish">Spanish</option>
            </select>
            <br><br>
            Comments (optional)<br>
            <textarea name="comment" rows="5" cols="100">
            </textarea>
            <br><br>
            <input type="submit" value="submit">
        </form>
    </body>
</html>